*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}
