*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(images/bgs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
}

.ui{
  padding: 50px;
}

.uiss{
  width: 100%;
}

.logo a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 35px;
}

.nav-links{
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}

.container{
  position: relative;
  width: 50%;
  height: 100%;
}

.main{
  min-height: 100%;
  top: 50%;
  left: 50%;
}


.form{
    background-color:black;
    opacity: 0.7;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-family: sans-serif;
    display: inline-block;
}


.form label{
    display: block;
    margin-bottom: 5px;
}


.form input,
.form select,
.form  {
    color: white;
    text-align: left;
    border: solid;
    padding: 10px;
    display: block;
    width: 80%;
    font-size: 20px;
}

.form option{
  color: black;
}


.form input[type="radio"]{
    display: inline-block;
    width: auto;
    margin-left: 10px;
}
.form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}

.form button {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    width: 30%;
    margin: 10px 10px;
    padding: 10px 10px;
    top: 35%;
    left: 35%;
    position: relative;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  opacity: 0.5;
  position: relative;
  padding: 100px;
}

.credits{
  left: 0;
  position: relative;
  width: 100%;
  color: white;
  text-align: right;
}
